body {
background-color: #FAEDCD;
}

hr {
background-color: none;
border-color: gray;
border-style: dotted none none;
border-width: 10px;
height: 10px;
width: 5%;
}

H1 {
color: #66BFBF;
}

H3 {
color: #66BFBF;
}